<div class="container">
    <div class="d-flex bd-highlight">
        <div class="p-2 bd-highlight">
            <label for="brand">Brand : </label>
            <select name="brand" class="ms-2 p-1" [(ngModel)]="brand">
                <option value="all" selected>All</option>
                <option value="DC Comics">DC Comics</option>
                <option value="Warner Bros">Warner Bros</option>
            </select>
        </div>
        <div class="p-2 bd-highlight">
            <label for="height">Height : </label>
            <select name="height" class="ms-2 p-1" [(ngModel)]="height">
                <option value="all">All</option>
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="12">12</option>
                <option value="15">15</option>
                <option value="16">16</option>
            </select>
        </div>
        <button class="btn btn-primary ms-auto p-2 bd-highlight"(click)="apply()">Apply filters</button>
    </div>
</div>