<div class="container recap">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{firstname}}</li>
        <li class="list-group-item">{{lastname}}</li>
        <li class="list-group-item">{{username}}</li>
        <li class="list-group-item">{{civility}}</li>
        <li class="list-group-item">{{email}}</li>
        <li class="list-group-item">{{phone | numberFormat}}</li>
        <li class="list-group-item">{{address}}</li>
        <li class="list-group-item">{{city}}</li>
        <li class="list-group-item">{{state}}</li>
        <li class="list-group-item">{{zip}}</li>
    </ul>
</div>