$text-color: rgb(172, 168, 164);
$blue-color : rgba(13, 30, 36, 0.9);

header h1 {
    text-align: center;
}

header.container {
    background-color: $blue-color;
}

header h1 {
    padding-top: 20px;
}

header h2 {
    padding-bottom: 20px;
}
